<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"},"anchor":"wp--skip-link--target","style":{"spacing":{"padding":{"top":"var(--wp--preset--spacing--xl)","bottom":"var(--wp--preset--spacing--xl)"},"blockGap":"var(--wp--preset--spacing--xl)"}}} -->
<main class="wp-block-group" id="wp--skip-link--target">
	<!-- wp:heading {"level":1,"fontSize":"display"} -->
	<h1 class="wp-block-heading has-display-font-size">Latest writing</h1>
	<!-- /wp:heading -->

	<!-- wp:query {"queryId":1,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date"},"displayLayout":{"type":"list"},"layout":{"type":"default"}} -->
	<div class="wp-block-query"><!-- wp:post-template {"layout":{"type":"default"}} -->
		<!-- wp:group {"style":{"spacing":{"blockGap":"var(--wp--preset--spacing--sm)","padding":{"bottom":"var(--wp--preset--spacing--md)"}}},"layout":{"type":"flex","orientation":"vertical"}} -->
		<div class="wp-block-group"><!-- wp:post-featured-image {"isLink":true,"aspectRatio":"16/9","style":{"border":{"radius":"var(--acme-border-radius-lg)"}}} /-->

			<!-- wp:post-terms {"term":"category","fontSize":"small"} /-->

			<!-- wp:post-title {"isLink":true,"fontSize":"h3"} /-->

			<!-- wp:post-excerpt {"moreText":"Read more"} /-->

			<!-- wp:post-date {"fontSize":"small"} /--></div>
		<!-- /wp:group -->
	<!-- /wp:post-template -->

	<!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"space-between"}} -->
		<!-- wp:query-pagination-previous /-->
		<!-- wp:query-pagination-numbers /-->
		<!-- wp:query-pagination-next /-->
	<!-- /wp:query-pagination -->

	<!-- wp:query-no-results -->
		<!-- wp:paragraph {"fontSize":"lead"} -->
		<p class="has-lead-font-size">No posts found. Start writing to see them listed here.</p>
		<!-- /wp:paragraph -->
	<!-- /wp:query-no-results -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
