<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"4rem","bottom":"4rem"}},"typography":{"textAlign":"center"}}} -->
<div class="wp-block-group">
	<!-- wp:heading {"level":1,"fontSize":"xxl"} -->
	<h1 class="wp-block-heading has-xxl-font-size">Page not found</h1>
	<!-- /wp:heading -->
	<!-- wp:paragraph {"fontSize":"md"} -->
	<p class="has-md-font-size">We searched everywhere and couldn’t find what you were looking for.</p>
	<!-- /wp:paragraph -->
	<!-- wp:buttons {"layout":{"type":"flex","justifyContent":"center"}} -->
	<div class="wp-block-buttons">
		<!-- wp:button -->
		<div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/">Go home</a></div>
		<!-- /wp:button -->
	</div>
	<!-- /wp:buttons -->
	<!-- wp:search {"showLabel":false,"placeholder":"Search…","buttonPosition":"button-inside","buttonUseIcon":true,"style":{"spacing":{"margin":{"top":"2rem"}}}} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
